# ------------------------------
# Dependencies
# ------------------------------
node_modules/

# ------------------------------
# Build output
# ------------------------------
dist/
build/

# ------------------------------
# Logs
# ------------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Environment variables
# ------------------------------
.env
.env.local
.env.*.local

# ------------------------------
# IDE / Editor
# ------------------------------
.vscode/
.idea/
*.swp

# ------------------------------
# Coverage
# ------------------------------
coverage/

# ------------------------------
# Sequelize
# ------------------------------
*.sqlite

# ------------------------------
# Temporary files
# ------------------------------
tmp/
temp/

# ------------------------------
# Misc
# ------------------------------
*.tsbuildinfo
